h1{
    font-size: 24px;
    color: red;
    font-family: Tahoma, Helvetica, sans-serif;

}
h2{
    font-size: medium;
    color: blue;
    background-color: lightgray;
    font-weight: bold;
}
li{
    list-style-type: square;
}

